.row {
  display:flex;
}

.field {
  height: 150px;
  width:150px;
  border:1px solid black;
}

.x{
  background-color: green;
}

.y {
  background-color: red;
}

button {
  width: 100px;
  height: 50px;
  margin: 30px;
}

.main-container {
  margin: 0 auto;
  width: 1000px;
  border: 1px solid black;
}

.game-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.game-title {
  text-align: center;
}

.points-ai {
  float:left;
  margin-left:70px;
  display: block;
}

.points-human {
  float:right;
  margin-right:70px;
  display: block;
}
