.row {
  display:flex;
}

.field {
  height: 125px;
  width:125px;
  border:1px solid black;
}

.x{
  background-color: green;
}

.y {
  background-color: red;
}

button {
  width: 100px;
  height: 50px;
  margin: 100px;
}

.main-container {
  margin: 0 auto;
  width: 1000px;
  border: 1px solid black;
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.points-container {
  display:flex;
  justify-content: space-around;
  border: 1px solid black;
}
/*.buttons {
  width: 700px;
  height: 700px;
  border:1px solid black;
}*/

/*.container {
  width: 800px;
  height: 800px;
  border:1px solid black;
3
}*/
