body {
  background-color:blue;
}
.row {
  display:flex;
}

.field {
  height: 150px;
  width:150px;
  border:1px solid black;
  background-color:white;
}

.x{
  background-color: green;
}

.y {
  background-color: red;
}

.restart-btn {
  width: 100px;
  height: 50px;
  margin: 30px;
  left: 30%;
  position: relative;
}

.main-container {
  margin: 0 auto;
  width: 1000px;
  border: 1px solid black;
}


.game-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;

}


.game-title {
  text-align: center;
}



.intro {
  border: 1px solid black;
  width: 763px;
  height: 628px;
  position: relative;
  z-index: 1;
  background-image:url('../img/bck.gif');
  opacity: 1;
  transition:  2s ease-in;
  position: absolute;
  top: 11%;
  left: 23%;
  display:flex;
  justify-content:center;
  align-items: center;
  border-radius: 10px;
  visibility:hidden;
}

.fade-out {
  opacity: 0;
}

.points-ai {
  float:left;
  margin-left:130px;
  display: block;
}

.points-human {
  float:right;
  margin-right:130px;
  display: block;
}

.start-btn {
  border-radius: 5px;
  background-color: #4BEDEA;
  width:200px;
  height:100px;
  transition: 0.5s;
  box-shadow: inset 0 0 0 0 #222;
}

.start-btn:hover {
  box-shadow:0 0 0 35px black inset;
}
